{% extends "navbar.html" %}
{% block footer %}
<footer class="footer d-flex p-2">
    <p class="footer_text">Hotels sur <a
            href="https://www.booking.com/country/fr.fr.html?aid=393655&label=msn-ADyIuqiXHMmkmilp2qL9MQ-80676793496234:tikwd-80676810431046:loc-66:nes:mte:lp116362:dec:qsbooking&utm_campaign=French%20FR&utm_medium=cpc&utm_source=bing&utm_term=ADyIuqiXHMmkmilp2qL9MQ&msclkid=e7d8e2eb9b921a107e9980d9c689a392">Booging</a>
    </p>
    <p class="footer_text"><a class="footer_link" href="/cgu">Condition générales d'utilisation</a></p>
    <p class="footer_text"><a class="footer_link" href="/support">Support</a></p>
    <p class="footer_text">Version 1.0.3</p>
</footer>
{% endblock %}