{% extends "navbar.html" %}
{% block footer %}
<footer class="footer d-flex p-2">
    <p class="footer_text">Hotels une solution <a href="https://www.comsapik.fr/" target="_blank"
            title="lien vers le site comsapik"><img class="logo-comsapik" alt="logo comsapik"
                src="/static/img/comsapik.jpg" /></a></p>
    <p class="footer_text"><a class="footer_link" href="/cgu">Condition générales d'utilisation</a></p>
    <p class="footer_text"><a class="footer_link" href="/support">Support</a></p>
    <p class="footer_text">Version 1.0.3</p>
</footer>
{% endblock %}