{% extends "footer.html" %}
{% block content %}
<h1>Mes réservations</h1>
{% if reservations %}
{% for r in reservations %}
<div class="total_stat col-12 align-items-center">
    <img src="">
    <div class="d-flex flex-column">
        <p>{{ r.suite.name }}</p>
        <p>{{ r.datebeginning }}</p>
        <p>{{ r.dateend }}</p>
        <form action="/delete-reservation" method="post">
            <input for="reservationid" type="hidden" name="reservationid" value="{{ r.id }}"></input>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <button type="submit" formmethod="post" class="btn btn-danger">Supprimer</button>
        </form>
    </div>
</div>
{% endfor %}
{% else %}
<p> Vous n'avez pas de réservation pour le moment </p>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="container justify-content-md-center" id="flash">
    <p id="flash_message">{{ message }}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}