{% extends "footer.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a href="/"><img class="navbar-brand" src="/static/img/logo.png" /></a>
    </div>
</nav>
<main>
    <div class="container-fluid">
        <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="container justify-content-md-center" id="flash">
                <p id="flash_message">{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="post">
                <div class="form-group text-center">
                    <label for="inputEmail" class="col form_label">Email</label>
                    <div class="text-center">
                        <input type="email" class="form-control-lg" id="inputEmail" placeholder="email@example.com"
                            name="email" required>
                    </div>
                    <label for="inputPassword" class="col form_label">Mot de passe</label>
                    <div class="text-center">
                        <input type="password" class="form-control-lg" id="inputPassword" placeholder="Mot de passe"
                            name="mdp" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-lg button" id="submit" value="Submit">Envoyer</button>
                </div>
            </form>
            <p class="text-center p-3"><a href="{{ url_for('user_api.custumer_add') }}">Créer un compte</a></p>
</main>
{% endblock %}