{% extends "navbar.html" %}
{% block content %}
<h1>Réservation</h1>
<form>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="explication">Veuillez remplir le formulaire avant de vérifier les disponibilités ou de
                    l'envoyer</p>
            </div>
            <div class="col-md-6 p-4 m-auto text-center">
                <label for="hotelIdSelected" class="form_label">Hotel</label>
                <select class="form-select" name="hotelIdSelected" id="hotelIdSelected" onchange=getsuites() required>
                    {% for hotel in hotels %}
                    <option value="{{ hotel.id }}">{{ hotel.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 p-4 m-auto text-center">
                <label for="suiteIdSelected" class="form_label">Suite</label>
                <select class="form-select" name="suiteIdSelected" id="suiteIdSelected" required>
                </select>
            </div>
        </div>
        <div class="row md-3 p-4">
            <div class="col-md-6 p-4 m-auto text-center">
                <label class="form_label" for="start">Date de début :</label>
                <input type="date" name="start" id="start" required>

            </div>
            <div class="col-md-6 p-4 m-auto text-center">
                <label class="form_label" for="end">Date de fin :</label>
                <input type="date" name="end" id="end" required>
            </div>
            <div>
                <p id="message_verification" class="form_label text-center"></p>
            </div>
        </div>
        <div class="col-12 text-center p-4">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn button" id="send_form" formmethod="post" hidden>Envoyer</button>
        </div>
    </div>
</form>
<div class="col-12 text-center p-4">
    <button class="btn button" id="check_date" formmethod="post">Vérifier les disponibilités</button>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="container justify-content-md-center" id="flash">
    <p id="flash_message">{{ message }}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<script src="/static/script/suites_list.js"></script>
<script src="/static/script/function_date.js"></script>
{% endblock %}